body{
    background: url(testov_black_wallpaper_for_site__3d_rendering_8k__highly_detail_996ded08-22c0-4cad-bed6-be1c6b739c26.png);
    background-size: 100% 100%;
}
.fff{
    width: 1200px;
    height: 600px;
}
.ddd{
    width: 100px;
    height: 100px;
}
.ffa{
    width: 600px;
    height: 600px;
}
.ffs{
    width: 600px;
    height: 600px;
}
.ffd{
    width: 600px;
    height: 600px;
}
.ffg{
    width: 600px;
    height: 600px;
}
.ffh{
    width: 600px;
    height: 600px;
}
.jj{
    color: darkblue;
    font-size: 35px ;
}
.sssd{
    color: darkblue;
}
.joa{
    color: black;
    font-size: 35px ;
}
.par{
    font-size: 30px;
    color: red;
}
.ssawd{
    color: white;
    font-size: 25px;
    text-shadow: 3px 0 3px black, 
    0 3px 3px black, 
    -1px 0 3px black, 
    0 -1px 3px black;
}
.ssasd{
    color: white;
    text-shadow: 3px 0 3px black, 
0 3px 3px black, 
-1px 0 3px black, 
0 -1px 3px black;
}
.ssad{
    color: purple;
}
.gd{
    color: blue;
}
.tom{
    color: darkblue;
}
.sasa{
    color: red;
}
.cris{
    color: purple;
    font-size: 35px;
}
div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
@media screen and (max-width: 1280px) {
    body{
        background: url(testov_black_wallpaper_for_site__3d_rendering_8k__highly_detail_996ded08-22c0-4cad-bed6-be1c6b739c26.png);
    }
    .jj{
        color: darkblue;
        font-size: 15px ;
    }
    .sssd{
        color: darkblue;
    }
    .joa{
        color: black;
        font-size: 15px ;
    }
    .par{
        font-size: 30px;
        color: red;
    }
    .ssawd{
        color: white;
        font-size: 15px;
        text-shadow: 3px 0 3px black, 
        0 3px 3px black, 
        -1px 0 3px black, 
        0 -1px 3px black;
    }
    .ssasd{
        color: white;
        text-shadow: 3px 0 3px black, 
    0 3px 3px black, 
    -1px 0 3px black, 
    0 -1px 3px black;
    }
    .ssad{
        color: purple;
    }
    .gd{
        color: blue;
    }
    .tom{
        color: darkblue;
    }
    .sasa{
        color: red;
    }
    .cris{
        color: purple;
        font-size: 15px;
    }
    .fff{
        width: 290px;
        height: 290px;
    }
    .ddd{
        width: 100px;
        height: 100px;
    }
    .ffs{
        width: 290px;
        height: 290px;
    }
    .ffa{
        width: 290px;
        height: 290px;
    }
    .ffd{
        width: 290px;
        height: 290px;
    }
    .ffg{
        width: 290px;
        height: 290px;
    }
    .ffh{
        width: 290px;
        height: 290px;
    }
}
