body{
    background: url(testov_black_wallpaper_for_site__3d_rendering_8k__highly_detail_64570ba0-4575-4b4e-94d1-555db9e44a2f.png);
    background-size: cover;
    background-position: center center;
  
}   
.ddd{
    width: 100px;
    height: 100px;
}
.fff{
    width: 400px;
    height: 300px;
}
.ffa{
    width: 400px;
    height: 300px;
}
.ffs{
    width: 400px;
    height: 300px;
}
.ffd{
    width: 400px;
    height: 300px;
}
.ffg{
    width: 400px;
    height: 300px;
}
.ffh{
    width: 600px;
    height: 300px;
}
.sda{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
.sasa{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
.ssawd{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
.ssasd{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
.ssad{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
.sssd{
    font-family: fantasy;
    font-size: 50px;
    color: black;
    text-shadow: 3px 0 3px white, 
0 3px 3px white, 
-1px 0 3px white, 
0 -1px 3px white;
}
div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    body{
        background: url(testov_black_wallpaper_for_site__3d_rendering_8k__highly_detail_64570ba0-4575-4b4e-94d1-555db9e44a2f.png);
        background-size: cover;
        background-position: center center;
      
    }   
    .ddd{
        width: 100px;
        height: 100px;
    }
    .fff{
        width: 290px;
        height: 250px;
    }
    .ffa{
        width: 290px;
        height: 290px;
    }
    .ffs{
        width: 290px;
        height: 290px;
    }
    .ffd{
        width: 290px;
        height: 290px;
    }
    .ffg{
        width: 290px;
        height: 290px;
    }
    .ffh{
        width: 290px;
        height: 250px;
    }
    .sda{
        font-family: fantasy;
        font-size: 45px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    .sasa{
        font-family: fantasy;
        font-size: 50px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    .ssawd{
        font-family: fantasy;
        font-size: 45px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    .ssasd{
        font-family: fantasy;
        font-size: 50px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    .ssad{
        font-family: fantasy;
        font-size: 50px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    .sssd{
        font-family: fantasy;
        font-size: 50px;
        color: black;
        text-shadow: 3px 0 3px white, 
    0 3px 3px white, 
    -1px 0 3px white, 
    0 -1px 3px white;
    }
    div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}